---
import LayoutDaniel from "../layouts/LayoutDaniel.astro";
import Banner from "../components/Banner.astro";
import Cards from "../components/Cards.astro";
---

<LayoutDaniel>
    <Banner />
    <div class="bg-gray-900">
        <Cards />
    </div>
    
</LayoutDaniel>