---
import Navbar from "../components/Navbar.astro";
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{frontmatter.title || "Mi Sitio"}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <Navbar />
        <article class="container mx-auto prose">
            <slot />
        </article>
    </body>
</html>